html, body {
  padding: 0;
}

#canvas {
  display:block;
  width:100%;
  margin: 0;
}

#title {
  text-align: center;
  background-color: pink;
  font-weight: bold;
  margin: auto;
  width: 50%;
}

#main-menu {
  display: block;
  margin-top: 30%;
  text-align: center;
}

#operations {
  display: none;
  text-align: center;
  padding: 3vh;
}

#information {
  display: none;
  text-align: center;
  padding: 3vh;
}

#chartboxes {
  padding: 3vh;
}

#original-chartbox {
  height: 800px;
}

#target-chartbox {
  display: none;
  height: 800px;
}

#original-chart {
  background:  white;
  border: solid black 1px;
}

#target-chart {
  background:  white;
  border: solid black 1px;
}

#canvas h1 {
  display: inline;
  margin-left: 28%;
}
