html, body {
  background-color: #1C1C21;
  color: white;
}

#title {
  background-color: #5D0000;
  font-weight: bold;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show{
  color: white;
  background-color: #5D0000;
  border-color: white;
}

.nav-link, .nav button:hover {
  color: white;
}

.btn {
  background-color: #5D0000;
  border-color: white;
}

.btn:hover {
  background-color: #370000;
  border-color: white;
}

.card {
  background-color: #1C1C21;
  border-color: white;
}

.card:hover {
  background-color: #5D0000;
  cursor: pointer;
}

.btn-work { 
  text-align: center; 
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show{
  color: white;
  background-color: #5D0000;
  border-color: white;
}

.nav-link, .nav button:hover {
  color: white;
}

.btn, .btn:hover {
  background-color: #5D0000;
  border-color: white;
}

#operations {
  text-align: center;
  padding: 3vh;
}

#information {
  text-align: center;
  padding: 3vh;
}

#chartboxes {
  padding: 3vh;
}

#original-chartbox {
  height: 800px;
}

#result-chartbox {
  display: none;
  height: 800px;
  margin-top: 10vh;
}

#lbs-chartbox {
  height: 500px;
  width: 500px;
  margin: 0 auto;
}

#transformation-chartbox {
  display: none;
  padding-top: 5vh;
  height: 500px;
  width: 500px;
  margin: 0 auto;
}
